.section-content-mask {
    height: 524px;
}

.map-img {
    /* padding: 45px 100px; */
}

.cards {
    gap: 20px;
    margin-top: 40px;

    >div {
        flex: 1 0 0;
        padding: 7px;
        background-color: #F4F1F8;
        border-radius: 12px;
        color: var(--main-color);
        font-size: 12px;
        .img-container {
            width: 36px;
            height: 36px;
            border-radius: 6px;
            background-color: var(--light-color);

            img {
                width: 20px;
            }
        }
    }
}

.countries {
    margin-top: 70px;
    gap: 20px;

    .country {
        margin-top: 30px;
        gap: 20px;
        min-width: max(15%, 150px); ;
        flex: 1 0 0;

        .hover-mask {
            right: -100%;
            background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
            transition: 0.5s;

        }

        &:hover {
            .hover-mask {
                right: 0;
            }
        }

        .country-flag {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-image: var(--bg-img);
        }

        .country-link {
            font-size: 15px;
            border-radius: 12px;
            height: 50px;
            padding: 0 20px;
            background: var(--main-color);
            color: var(--light-color);

            >* {
                position: relative;
                z-index: 5;
            }

            /* transition:.5s; */


        }
    }
}

.main-section-content {
    >p {
        margin-top: 70px;
        margin-bottom: 50px;
        font-size: 12px;
        line-height: 23px;

    }

}

.alert {
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
    color: var(--light-color);
    font-size: 14px;
}

.support {
    margin: 40px 0 70px;
    border-radius: 15px;
    background-color: #F4F1F8;
    height: 80px;
    padding: 15px;
    padding-right: 20px;
    color: var(--main-color);

    h5 {
        font-size: 20px;
    }

    p {
        margin-top: 6px;
        font-size: 12px;
    }

    a {
        padding: 0 18px;
        border-radius: 8px;
        font-size: 14px;
        height: 100%;
        width: 200px;
        background-color: var(--main-color);
        color: var(--light-color);
    }
}


@media (max-width: 768px){
    .cards {
        span{
            display: inline-block;
            margin: 10px 0 14px;
        }
    
        >div {
            width: 100%;
            text-align: center;
            min-height: 156px;
        }
    }
    .countries{
        background-image: url(./assets/image/map-mobile.png);
        background-size: cover;
        background-position: center;
        .country{
            gap: 10px;
            .country-link{
                height: fit-content;
                color: var(--main-color);
                background-color: transparent;
                .hover-mask{
                    display: none;
                }
                svg{
                    display: none;

                }
            }
        }
    }
    .alert{
        height: 123px;
        padding: 20px;
        gap: 15px !important    
    }   
    .support{
        height: fit-content;
        padding: 20px;
        gap: 38px;
        text-align: center;
        a{
            width: 100%;
            height: 50px;
        }
        p{
            margin-top: 16px;
        }
    }
}