:root {
    /* --main-font: IranSans; */
    --main-font: 'iransansxv';
    --main-color: #332546;
    --active-color: #7E37ED;
    --second-color: #6103DC;
    --bg-dark: #403458;
    --light-color: #fff;
    --card-light: #F4F1F8;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}

.txt-main-light {
    color: var(--second-color)
}

.gradient-line {
    height: 3px;
    background: linear-gradient(90deg, rgba(97, 3, 220, 0) 0%, rgba(97, 3, 220, 1) 50%, rgba(97, 3, 220, 0) 100%);
}

.dark-gradient {
    background: linear-gradient(90deg, rgba(64, 52, 88, 1) 0%, rgba(51, 37, 70, 1) 100%);
}

.py-32 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.fs-12 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.gap-12 {
    gap: 0.75rem
}

.gap-20 {
    gap: 20px
}

.fw-bold-c {
    font-weight: 500
}

.fw-bolder-c {
    font-weight: 600
}

.fw-light-c {
    font-weight: 300
}

.fw-lighter-c {
    font-weight: 200
}

.main-linear-bg {
    background: rgb(158, 110, 255);
}

.button-outline {
    position: relative;
    width: 82px;
    cursor: pointer;
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%) border-box;
    border-radius: 50em;
    border: 1px solid transparent;

}

.bg-main-gradient {
    background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
}

.bg-success-gradient {
    background: linear-gradient(90deg, #24EE8A 0%, #20D179 100%);
    ;
}

.radius-8 {
    border-radius: 8px;
}

.p-c {
    padding: 10px 20px
}

.button-outline-text {
    background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-main-light {
    color: var(--second-color);

    min-width: 60px;
    border-radius: 5px;
    background-color: #F4F1F8;
    font-size: 12px;
    line-height: 16px;
}

.txt-light {
    color: var(--light-color);
}

.bgc-light {
    background-color: var(--light-color);
}

.bgc-card-light {
    background-color: var(--card-light);
}

.container {
    /* max-width: 1276px */
}

.input-custom {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #F6F3F9;
    border-radius: 0.5rem;
    border: none;
}

textarea.input-custom {
    height: 120px;
}

.label-custom {
    font-size: 11px;
    padding: 10px 20px;
}

body {
    font-family: var(--main-font);
    padding-bottom: 45px;
    color: var(--main-color);
    background-color: #F6F3F9;
}

nav {
    a {
        color: var(--main-color);
    }

    >div {
        flex: 1 0 0;
    }

    .logo-container,
    .userinfo-container {
        flex-grow: 1;
    }

    .menu-container {
        flex-grow: 2;

        a {
            svg path {
                fill: #D0CED2;
            }
        }

        a.active {
            color: #7E37ED;

            svg path {
                fill: #7E37ED;
            }
        }
    }
}


.logo-container img {
    width: 110px;
}



.main-section-content {
    margin: 70px auto;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 17px;
    }

    header {
        z-index: 9
    }

    /* header .menu-container {
        transition: 0.5s;
        width: 250px;
        position: absolute;

        right: -100%;
        top: 0;
        height: 100svh;
        z-index: 99;
        background-color: #FEFDFF;
        padding: 30px 15px;
        transition: 1s;

        ul li {
            width: 100%;
            text-align: right;
            margin-bottom: 24px;
        }
    } */

    /* body:has(#menu-toggler:checked) {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::before {
            transition: 0.4s;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background: #3E3255;
            opacity: 50%;
            z-index: 10;
        }

        header {
            z-index: 11;
        }

        header .menu-container {
            right: 0;
            transition: 1s;
        }
    } */

    .logo-container {
        text-align: center
    }



    .introSlide {
        padding: 20px;
        padding-bottom: 30px;
        height: fit-content;
        gap: 42px;

        .top-circle {
            width: 477px;
            left: 0px;
            top: 100px !important;
        }

        .bottom-circle {
            left: 30px;
            width: 230px;
        }
    }

    .data-card-container {
        width: 100%;
        max-width: 100%;




    }

    .information {
        gap: 20px !important;
    }

    .invoice-pay {
        >* {
            max-width: 100%;
            width: 100%;
            flex: 1 0 0 !important;

            input {
                background-color: transparent;
            }
        }

        button {
            width: fit-content
        }
    }

    .faq-section h2 {
        text-align: center
    }

}




/* Dashboard */


.dashboard-menu {
    width: 215px;
    height: 100%;

    /* background-color: red; */
    position: relative;

    .icon-color-line {
        width: 30px;
        background: linear-gradient(180deg, #fff 0%, #ffffff00 100%);
        position: absolute;
        right: 0;
        z-index: 0;
        inset: 0;
        border-radius: 5px;
    }

    ul.dashboard-ul {
        z-index: 1;
        position: relative;

        li {
            margin-bottom: 22px;

            a {
                gap: 22px;
                color: var(--main-color);
                font-size: 13px;
                font-weight: 500;
                margin-right: 52px;

                span {
                    width: 30px;
                    height: 30px;
                    right: 0;

                    svg.active {
                        display: none;
                    }

                }

                &.active {
                    color: var(--active-color);

                    span {
                        /* width: 38px;
                        height: 38px; */
                        width: 37px;
                        height: 37px;
                        right: -4px;
                        background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
                        border-radius: 8px;
                        /* margin-right: -4px; */
                    }

                    svg {

                        display: none;

                        &.active {
                            display: block
                        }
                    }
                }

            }
        }
    }
}

.main-content-section {
    width: 100%;

    h2 {
        font-size: 18px;
        margin-bottom: 19px;
        padding-right: 20px;
    }

    .main-content {
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        padding: 24px;
        padding-top: 18px;

        .main-content-title {
            padding-bottom: 20px;
            border-bottom: 1px solid #F2EBFF;
            font-size: 13px;

            h3 {
                font-size: 13px;
            }
        }
    }


}

.main-card {
    height: 203px;
    width: 172px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
    padding: 20px 12px 10px;
    color: var(--light-color);

    h6 {
        font-size: 11px;
    }

    h5 {
        margin-top: 7px;
        font-size: 15px;
    }

    p {
        margin-top: 10px;
        font-size: 11px;
        color: #CDB0F6;
    }

    .date-counter {
        font-size: 10px;
        color: #fff;
        margin-bottom: 7px;
    }

    .range {
        height: 7px;
        background-color: rgba(255, 255, 255, 0.2);

        .active-range {
            background: linear-gradient(90deg, rgba(75, 239, 157, 1) 0%, rgba(255, 228, 54, 1) 100%);
            width: var(--width)
        }
    }

}

.other-cards {
    >div {
        flex: 1 0 0;
        color: var(--light-color);

        h6 {
            font-size: 10px;
            margin-top: -30px;
        }

        p {
            margin-top: 8px;
            font-size: 11px;

            span.small {
                font-size: 8px;

            }
        }
    }

    .v-line {
        display: inline-block;
        width: 1px;
        height: 65px;
        background-color: rgba(231, 231, 231, 0.26);
    }
}


@media (max-width: 768px) {
    .dashboard-menu {
        padding: 0 20px;
        width: 320px;
        right: -320px;
        top: 0;
        background-color: #F6F3F9;
        transition: 0.5s;
        z-index: 999;
        position: absolute;

    }

    .toggler {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #fff;
        z-index: 9;

    }

    .dashboard-menu .toggler {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    body:has(#menu-toggler:checked) .dashboard-menu {

        right: 0px;
        transition: 0.5s;
    }

    body:has(#menu-toggler:checked) {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::before {
            transition: 0.4s;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background: #3E3255;
            opacity: 50%;
            z-index: 10;
        }
    }

    .header-ul {
        position: absolute;
        bottom: 20px;
        gap: 20px;
        margin-top: 20px;

        li {
            a {
                padding: 0 15px;
                border-radius: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 130px;
                flex-shrink: 0;
                background-color: #EFECF3;
                height: 50px;
                color: var(--main-color);
                font-size: 12px;

                svg path {
                    fill: #D0CED2
                }

                &.active {
                    color: var(--active-color);

                    svg path {
                        fill: var(--active-color);

                    }
                }
            }
        }
    }
/* 
    body>section {
        padding-top: 28px;
    } */

    .main-card {
        width: 100%
    }

    .other-cards {
        padding-top: 20px;
        padding-bottom: 54px;

        /* gap: 20px; */
        .v-line {
            margin-top: 52px;
            width: 64px;
            height: 1px
        }
    }

    .invoice {
        >div {
            flex-wrap: wrap;
            gap:10px;

            span {
                text-align: right;
                display: block;
                width: 100%
            }
        }
    }
    .main-content-section {
        .main-content{
            padding: 20px
        }}
}



.modal {
    .modal-dialog {
        max-width: 412px;
    }

    .modal-content {
        min-height: 554px;
        padding: 24px 20px;

        h3 {
            font-size: 16px;
        }
    }

    label {
        font-size: 10px;
        margin-bottom: 6px;
    }

    .input-container {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background-color: #F6F3F9;
        margin-bottom: 20px;

        input {
            font-size: 12px;
        }

        .check {
            left: 15px;

            svg {
                display: none
            }

            .false {
                display: block
            }
        }

        &:has(button) {
            margin-top: 30px;
            box-shadow: 0 5px 20px rgba(97, 3, 220, 0.2);
        }

        button {
            color: var(--light-color);
        }
    }

    p {
        font-size: 12px;

        span {
            color: var(--second-color) !important
        }
    }

    .modal-footer-c a {
        color: var(--light-color);
    }

}

.pointer {
    cursor: pointer;
}

.otp-code {
    direction: ltr;

    >* {
        flex: 1 0 0;
    }

    input {
        height: 50px;
        border-radius: 10px;
        background-color: #F6F3F9;
        width: 30px;
        border: none;
        display: flex;
        text-align: center;
        padding: 10px;

        &:focus {
            outline: none;
            border: 1px solid var(--second-color)
        }
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        display: none
    }
}

.submit-btn {
    opacity: 0.8;
    pointer-events: none;
}

.submit-btn.active {
    opacity: 01;
    pointer-events: all;
}

.check-icon {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    border: 2px solid var(--second-color);

}

#enter-new-pass .modal-body {
    height: 300px !important;

    h4 {
        font-size: 16px;
        margin-top: 22px;
    }
}

@media (max-width: 576px) {
    .modal {
        .modal-dialog {
            min-height: 554px;
            max-width: 100%;
        }
    }

    #enter-new-pass .modal-body {
        p {
            font-size: 8px;
        }
    }
}
