.gap-10 {
    gap: 10px
}

.current-account {
    padding: 20px;
    background-color: #F6F3F9;

    .v-line {
        width: 1px;
        height: 47px;
        background-color: #DCDCDC;
    }

    .price-card {
        font-size: 8px;
        color: var(--second-color);
        font-weight: bold;

        .price-number {
            font-size: 28px;
        }
    }

    .card {

        height: 60px;
        background-color: transparent;
        border: none;
        color: var(--main-color);
        font-size: 11px;
        min-width: fit-content;
        font-weight: 500;

        div>svg path {
            fill: #BBB6C1
        }

        >h4 {
            font-size: 15px;
        }

        >p {
            font-size: 11px;
            margin-top: 8px;
            color: #CDB0F6;
        }

        &.main-current-card {
            width: 162px;
            color: var(--light-color);
            background: linear-gradient(180deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
            padding: 0 17px 0 0;
            box-shadow: 0 10px 20px rgba(97, 3, 220, 0.2);

            svg path {
                fill: var(--light-color)
            }
        }

        &.success-card {
            width: 162px;
            color: var(--light-color);
            background: linear-gradient(180deg, #24EE8A 0%, #20D179 100%);
            box-shadow: 0 10px 20px rgba(38, 233, 136, 0.25);

            svg path {
                fill: var(--light-color)
            }
        }

        ul {
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: rgba(187, 182, 193, 0.25);

                svg {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}

.accordion-header {
    /* height: 20px; */


}

.accordion-header+.section-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;
}

.accordion-header+.section-content.open {
    transition: max-height 1s linear;
}


.dashed-line {
    height: 3px;
    border-top: 3px dashed #E8E4EC;
}

.header-text {
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    color: var(--second-color);
    cursor: pointer;
}

.step-title {
    gap: 9px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 25px;
}

.section-title {
    color: var(--main-color);
    margin-top: 10px;

}

.section-content {

    .tabs {
        gap: 15px;

        li {
            background-color: #F6F3F9;
            width: 88px;
            height: 50px;
            z-index: 0;

            button {
                background-color: transparent;
                width: 100%;
                height: 100%;
                z-index: 1;

                &.active {
                    background: linear-gradient(180deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
                    box-shadow: 0 5px 20px rgba(97, 3, 220, 0.2);
                    color: var(--light-color);

                }
            }

        }
    }
}


.cards {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -12.5px;
    margin-left: -12.5px;
}

.tab-content>.active {

    display: flex;
}

.data-card-container {
    width: 25%;
    min-width: 200px;
    padding: 12.5px;
}

.data-card {
    width: 100%;
    border: 1px solid #F2EBFF;
    background-color: var(--light-color);
    box-shadow: 0 15px 30px rgba(97, 3, 220, 0.05);
    transition: 0.4s;

    &:hover {
        box-shadow: 0 15px 30px rgba(75, 239, 157, 0.2);

    }

    &:has(:checked) {
        box-shadow: 0 15px 30px rgba(75, 239, 157, 0.2);
    }
}

.data-card_title {
    border-bottom: 1px solid #F2EBFF;

    h4 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
    }

    p {
        margin-top: 3px;
        font-size: 11px;
        color: #857C90
    }

    .price {
        font-size: 25px;
        font-weight: 600;
        line-height: 33px;
        color: var(--second-color)
    }

    .unit {
        font-size: 6px;
        font-weight: 600;
        color: #9E6EFF
    }
}

.data-card_content {
    .card-item {
        font-size: 11px;

        a {
            color: var(--second-color);
            margin-right: 2px;
        }
    }

    .systems {
        gap: 10px;

        li {
            width: 25px;
            height: 25px;
            background-color: #F5EFFE;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 13px;
                height: 13px;
            }
        }
    }


    .plan-label {
        .select-plan {
            margin-top: 12px;
            background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
            font-size: 11px;
            height: 40px;
            display: flex;

            span {
                display: block;

                &.checked {
                    display: none
                }
            }
        }

        &:has(:checked) {
            .select-plan {
                content: 'sad';
                background: linear-gradient(90deg, #24EE8A 0%, #20D179 100%);

                span {
                    display: none;

                    &.checked {
                        display: block
                    }
                }
            }
        }
    }
}

.list-icon {
    width: 11px;

    svg path {
        fill: #BBB6C1
    }
}


.tooltip-content {
    display: none;
    background-color: var(--main-color);
    color: var(--light-color);
    font-size: 10px;
    padding: 10px;
    bottom: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;

    &.tooltip-countries {
        bottom: calc(100% - 80px);
    }

    >span.triangle {
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--main-color);
        position: absolute;
        top: 100%;
    }
}

.tooltip-icon:hover {
    svg path {
        transition: 0.4s;
        fill: var(--main-color);
    }
}

.systems .tooltip-icon:hover {
    background: linear-gradient(180deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);

    svg path {
        transition: 0.4s;
        fill: var(--light-color);
    }
}

.tooltip-icon:hover .tooltip-content {
    display: flex
}

.data-card .tooltip-content {
    transition: 0.4s;

    h6,
    p {
        font-size: 10px;
        color: var(--light-color);
        font-weight: 300;
    }
}

.w-custom {
    width: 54px;
    height: 30px;
    bottom: calc(100% + 6px);
}

.country-flag {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-image: var(--img);
    background-size: cover
}

.countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.information {
    margin-top: 25px;

    >div {
        flex: 1 0 0;
    }

    label {
        font-size: 11px;
        padding: 10px 20px;
        padding-top: 0;
    }
}

.invoice {
    border-radius: 8px;
    background-color: #F6F3F9;
    margin-top: 25px;

    >div {
        font-size: 12px;
        padding: 10px 20px;
    }

    >div:nth-child(even) {
        background-color: var(--light-color);
    }
}

.invoice-pay {
    >* {
        font-size: 11px;
        height: 40px;
        max-width: 300px;
        background-color: #F6F3F9;
        flex: 1 0 0 !important;

        input {
            background-color: transparent;
        }
    }

    button {
        width: fit-content
    }
}

@media (min-width: 576px) {
    body .container {
        max-width: 100٪ !important;
    }
}


@media (max-width: 768px) {
    .data-card-container {
        width: 100%;
        max-width: 100%;
    }

    .main-content-section {
        .main-content {
            padding: 20px
        }
    }

    .tabs {
        margin: 20px 0 !important;
        gap: 10px !important;

        li {
            flex: 1 0 0;
            width: 100%;
        }
    }

    .content>section {
        padding-right: 0;
        padding-left: 0;
    }

    .data-card-container {
        padding: 0;
        padding-bottom: 20px;
    }

    .current-account {
        .v-line {
            width: 100%;
            height: 1px;
            margin-top: 20px;
            margin-bottom: 12px;
        }

        .card {
            width: 100%;
            gap: 14px !important;

            >div {
                /* margin-bottom: 14px; */
            }

            &.main-current-card {
                width: 100%;
                margin-bottom: 30px;
                gap: 0px !important;

            }

            &.success-card {
                margin-top: 16px;
                width: 100%;
                font-weight: 600;
                cursor: pointer;

            }
        }
    }
}