



@font-face {
    font-family: 'iransansxv';
    src: url('./assets/fonts/IRANSansX-Pro/Variable-Font/webfont/IRANSansXV.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
    url('./assets/fonts/IRANSansX-Pro/Variable-Font/webfont/IRANSansXV.woff') format('woff');
    /* for the other supporting browsers */
    font-weight: 100 1000;
    font-display: fallback;

}