:root {
    /* --main-font: IranSans; */
    --main-font: 'iransansxv';
    /* --main-font: IranSansFa; */
    --main-color: #332546;
    --active-color: #7E37ED;
    --second-color: #6103DC;
    --bg-dark: #403458;
    --light-color: #fff;
    --card-light: #F4F1F8;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}

.txt-main-light {
    color: var(--second-color)
}

.gradient-line {
    height: 3px;
    background: linear-gradient(90deg, rgba(97, 3, 220, 0) 0%, rgba(97, 3, 220, 1) 50%, rgba(97, 3, 220, 0) 100%);
}

.dark-gradient {
    background: linear-gradient(90deg, rgba(64, 52, 88, 1) 0%, rgba(51, 37, 70, 1) 100%);
}

.py-32 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.fs-12 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.gap-12 {
    gap: 0.75rem
}

.fw-bold-c {
    font-weight: 600
}

.fw-bolder-c {
    font-weight: 800
}

.fw-light-c {
    font-weight: 300
}

.fw-lighter-c {
    font-weight: 200
}

.main-linear-bg {
    background: rgb(158, 110, 255);
}

.button-outline {
    position: relative;
    width: 82px;
    cursor: pointer;
    background: linear-gradient(white, white) padding-box, linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%) border-box;
    border-radius: 50em;
    border: 1px solid transparent;

}

.bg-main-gradient {
    background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
}

.bg-success-gradient {
    background: linear-gradient(90deg, #24EE8A 0%, #20D179 100%);

}

.radius-8 {
    border-radius: 8px;
}

.p-c {
    padding: 10px 20px
}

.button-outline-text {
    background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-main-light {
    color: var(--second-color);
    font-weight: 600;
    min-width: 60px;
    border-radius: 5px;
    background-color: #F4F1F8;
    font-size: 12px;
    line-height: 16px;
}

.txt-light {
    color: var(--light-color);
}

.bgc-light {
    background-color: var(--light-color);
}

.bgc-card-light {
    background-color: var(--card-light);
}

.container {
    /* max-width: 1276px */
}

.input-custom {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #F6F3F9;
    border-radius: 0.5rem;
    border: none;
}

textarea.input-custom {
    height: 120px;
}

.label-custom {
    font-size: 11px;
    padding: 10px 20px;
}

body {
    font-family: var(--main-font);
    padding-bottom: 45px;
    color: var(--main-color);
    font-weight: 500;
   
}

nav {
    a {
        color: var(--main-color);
    }

    >div {
        flex: 1 0 0;
    }

    .logo-container,
    .userinfo-container {
        flex-grow: 1;
    }

    .menu-container {
        flex-grow: 2;

        a {
            svg path {
                fill: #D0CED2;
            }
        }

        a.active {
            color: #7E37ED;

            svg path {
                fill: #7E37ED;
            }
        }
    }
}


.logo-container img {
    width: 110px;
}

.introSlide {
    padding: 72px 83px 90px 90px;
    height: 240px;

    h6 {
        font-size: 20px;
        line-height: 27px;

        span {
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            background-color: #F0BA64;
            opacity: var(--bg-opacity);
        }
    }

    p {
        font-size: 12px;
        line-height: 16px;
    }

    >div {
        max-width: 500px;
        position: relative;
        z-index: 2;

        img {
            width: 115px;
        }
    }

    >img {
        left: 67px;
        z-index: 1;
    }

    >h6 {
        margin-bottom: 10px;
    }
}


.section-title {
    color: var(--main-color);
    margin-top: 10px;
    font-weight: 600;

}

.section-title-c {
    margin-top: 10px;
}
.section-title-c .title-content{
   min-width: fit-content;
   flex-shrink: 0;
   font-weight: 600;
}

.section-title-c .line-1 {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(97, 3, 220, 0.8) 0%, rgba(255, 255, 255, 0) 95%);

}
.section-title-c .line-2 {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(97, 3, 220, 0.8) 95%);
}

/* .section-title-c::before {
    content: '';
    display: inline-block;
    width: 41%;
    height: 3px;
    background: rgb(97, 3, 220);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(97, 3, 220, 0.8) 95%);
    position: absolute;
    top: 50%;
    left: 0;
} */

.section-content {


    .tabs {
        padding: 0.125rem;

        li {
            min-width: 50px;
            width: fit-content;
        }

        button {
            padding: 6px 14px;
            /* width: 50px */

            svg path{
                fill: var(--main-color);
            }
        }

        button.active {
            color: var(--light-color);
            background-color: var(--bg-dark);
            svg path{
                fill: var(--light-color);
            }
        }
    }
}

.main-section {
    margin-top: 70px;
}

.section-content-mask {
    height: calc(100% - 40px);
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(158, 110, 255, 1) 100%);
    opacity: 0.1;
}

.cards {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tab-content>.active {

    display: flex;
}

.data-card-container {
    width: 20%;
    min-width: 200px;
}

.data-card {
    width: 100%;

    background-color: var(--light-color);
    box-shadow: 0 15px 30px rgba(97, 3, 220, 0.05);
    transition: 0.4s;

    &:hover {
        box-shadow: 0 15px 30px rgba(75, 239, 157, 0.2);

    }

    &:has(:checked) {
        box-shadow: 0 15px 30px rgba(75, 239, 157, 0.2);
    }
}

.data-card_title {
    border-bottom: 1px solid #F2EBFF;

    h4 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
    }

    p {
        margin-top: 3px;
        font-size: 11px;
        color: #857C90
    }

    .price {
        font-size: 25px;
        font-weight: 600;
        line-height: 33px;
        color: var(--second-color)
    }

    .unit {
        font-size: 6px;
        font-weight: 600;
        color: #9E6EFF
    }
}

.data-card_content {
    .card-item {
        font-size: 11px;

        a {
            color: var(--second-color);
            margin-right: 2px;
        }
    }

    .systems {
        gap: 10px;

        li {
            width: 25px;
            height: 25px;
            background-color: #F5EFFE;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 13px;
                height: 13px;
            }
        }
    }

    .plan-label {
        .select-plan {
            margin-top: 12px;
            background: linear-gradient(90deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);
            font-size: 11px;
            height: 40px;
            display: flex;

            span {
                display: block;

                &.checked {
                    display: none
                }
            }
        }

        &:has(:checked) {
            .select-plan {
                content: 'sad';
                background: linear-gradient(90deg, #24EE8A 0%, #20D179 100%);

                span {
                    display: none;

                    &.checked {
                        display: block
                    }
                }
            }
        }
    }
}

.list-icon {
    width: 11px;
}


.tooltip-content {
    display: none;
    background-color: var(--main-color);
    color: var(--light-color);
    font-size: 10px;
    padding: 10px;
    bottom: calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;

    &.tooltip-countries {
        bottom: calc(100% - 80px);
    }

    >span.triangle {
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--main-color);
        position: absolute;
        top: 100%;
    }
}

.tooltip-icon:hover {
    svg path {
        transition: 0.4s;
        fill: var(--main-color);
    }
}

.systems .tooltip-icon:hover {
    background: linear-gradient(180deg, rgba(158, 110, 255, 1) 0%, rgba(97, 3, 220, 1) 100%);

    svg path {
        transition: 0.4s;
        fill: var(--light-color);
    }
}

.tooltip-icon:hover .tooltip-content {
    display: flex
}

.data-card .tooltip-content {
    transition: 0.4s;

    h6,
    p {
        font-size: 10px;
        color: var(--light-color);
        font-weight: 300;
    }
}

.w-custom {
    width: 54px;
    height: 30px;
    bottom: calc(100% + 6px);
}

.country-flag {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-image: var(--img);
    background-size: cover
}

.countries-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.information {
    >div {
        flex: 1 0 0;
    }

    label {
        font-size: 11px;
        padding: 10px 20px;
    }
}

.invoice {
    border-radius: 8px;
    background-color: #F6F3F9;

    >div {
        font-size: 12px;
        padding: 10px 20px;
    }

    >div:nth-child(even) {
        background-color: var(--light-color);
    }
}

.invoice-pay {
    >* {
        font-size:13px;
        height: 40px;
        max-width: 300px;
        background-color: #F6F3F9;
        flex: 1 0 0 !important;

        input {
            background-color: transparent;
        }
    }

    button {
        width: fit-content
    }
}


/* FAQ */
.faq-section {
    margin-top: 70px;
    border-top: 2px solid #E4E1E7;

    h2 {
        padding-top: 70px;
        font-size: 20px;
        margin-bottom: 27px;
    }
}

.faq-img {
    width: 300px;
    height: 310px;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(64, 52, 88, 1) 0%, rgba(51, 37, 70, 1) 100%);

}



.faq-title {
    font-size: 12px;
    background-color: #F6F3F9;
    border: 1px solid #ECEAEF;

    .plus {
        display: inline-block;
    }

    .minus {
        display: none
    }

}

.faq-answer {
    height: 0;
    max-height: 0;
    font-size: 12px;
    line-height: 23px;
    overflow: hidden;
    padding: 0 1rem;
}

.faq-card {
    margin-bottom: 10px;

    &:has(:checked) {

        .faq-title {
            color: #fff;
            background-color: var(--main-color);

            .minus {
                display: inline-block;
            }

            .plus {
                display: none
            }
        }

        .faq-answer {
            padding: 1rem;
            height: fit-content;
            max-height: fit-content;
        }
    }
}



footer {
    margin-top: 70px;

    >div {
        padding: 0 82px;
        height: 120px;
    }

    .menu-container a {
        font-size: 12px;
        color: #fff;

        svg path {
            fill: #977559
        }
    }

    .social {
        gap: 30px;
    }
}

.main-section-content {
    margin: 70px auto;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 17px;
    }

    header {
        z-index: 9
    }

    header .menu-container {
        transition: 0.5s;
        width: 250px;
        position: absolute;

        right: -100%;
        top: 0;
        height: 100svh;
        z-index: 99;
        background-color: #FEFDFF;
        padding: 30px 15px;
        transition: 1s;

        ul li {
            width: 100%;
            text-align: right;
            margin-bottom: 24px;
        }

        /* display: none; */
    }

    body:has(#menu-toggler:checked) {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::before {
            transition: 0.4s;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background: #3E3255;
            opacity: 50%;
            z-index: 10;
        }

        header {
            z-index: 11;
        }

        header .menu-container {
            right: 0;
            transition: 1s;
            /* display: none; */
        }
    }

    .logo-container {
        text-align: center
    }

    .toggler {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #F4F1F8;
    }

    .introSlide {
        padding: 20px;
        padding-bottom: 30px;
        height: fit-content;
        gap: 42px;

        .top-circle {
            width: 477px;
            left: 0px;
            top: 100px !important;
        }

        .bottom-circle {
            left: 30px;
            width: 230px;
        }
    }

    .data-card-container {
        width: 100%;
        max-width: 100%;

        .data-card_content ul {
            display: flex;
            flex-wrap: wrap;
        }

        .card-item {
            width: 50%;

            &:nth-last-child(2) {
                width: 100%;
            }
            &:last-child{
                width: 100%;

            }
        }
    }

    .information {
        gap: 20px !important;
    }

    .invoice-pay {
        >* {
            max-width: 100%;
            width: 100%;
            flex: 1 0 0 !important;

            input {
                background-color: transparent;
            }
        }

        button {
            width: fit-content
        }
    }

    .faq-section h2 {
        text-align: center
    }

    footer {
        >div {
            padding: 30px 20px;
            height: fit-content;

            nav {
                padding: 0 !important;

                .menu-container {
                    padding: 15px 0;

                    li {
                        padding: 9px 0;
                        width: 50%;
                    }
                }
            }
        }
    }
}


.modal {
    .modal-dialog {
        max-width: 412px;
    }

    .modal-content {
        min-height: 554px;
        padding: 24px 20px;

        h3 {
            font-size: 16px;
        }
    }

    label {
        font-size: 10px;
        margin-bottom: 6px;
    }

    .input-container {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background-color: #F6F3F9;
        margin-bottom: 20px;

        input {
            font-size: 12px;
        }

        .check {
            left: 15px;

            svg {
                display: none
            }

            .false {
                display: block
            }
        }

        &:has(button) {
            margin-top: 30px;
            box-shadow: 0 5px 20px rgba(97, 3, 220, 0.2);
        }

        button {
            color: var(--light-color);
        }
    }

    p {
        font-size: 12px;

        span {
            color: var(--second-color) !important
        }
    }

    .modal-footer-c a {
        color: var(--light-color);
    }

}

.pointer {
    cursor: pointer;
}

.otp-code {
    direction: ltr;

    >* {
        flex: 1 0 0;
    }

    input {
        height: 50px;
        border-radius: 10px;
        background-color: #F6F3F9;
        width: 30px;
        border: none;
        display: flex;
        text-align: center;
        padding: 10px;

        &:focus {
            outline: none;
            border: 1px solid var(--second-color)
        }
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        display: none
    }
}

.submit-btn {
    opacity: 0.8;
    pointer-events: none;
}

.submit-btn.active {
    opacity: 01;
    pointer-events: all;
}

.check-icon {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    border: 2px solid var(--second-color);

}

#enter-new-pass .modal-body {
    height: 300px !important;

    h4 {
        font-size: 16px;
        margin-top: 22px;
    }
}

@media (max-width: 576px) {
    .modal {
        .modal-dialog {
            min-height: 554px;
            max-width: 100%;
        }
    }

    #enter-new-pass .modal-body {
        p {
            font-size: 8px;
        }
    }
}

