.section-content {
    margin-top: 25px;
    /* background: linear-gradient(90deg, rgba(64, 52, 88, 1) 0%, rgba(51, 37, 70, 1) 100%); */
    background-color: var(--main-color);
}

.speed-boxes {
    height: 203px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.speed-box {
    flex: 1 0 0;
    position: relative;


    &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 65px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(231, 231, 231, 0.26);
    }
}

.speed-circle-container {
    width: 104px;
    height: 104px;
    padding: 3px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 95%);

    >div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--main-color);
        padding: 6px
    }

    >span {
        color: var(--light-color);
        font-size: 10px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

}

.speed-circle {
    width: 100%;
    height: 100%;
    background: conic-gradient(rgba(255, 255, 255, 0.15) 270deg, transparent 270deg);
    border-radius: 50%;
    transform: rotate(-135deg);

    /* padding: 6px; */
    >div {
        padding: 6px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: conic-gradient(var(--color) calc(2.7*(var(--deg))), transparent calc(2.7*(var(--deg))));

        >div {
            transform: rotate(135deg);
            background-color: var(--main-color);
            color: var(--color);
            font-size: 12px;
            gap: 6px;
        }
    }
}

.test-speed-button {
    margin: 20px auto 0;
    width: 170px;
    height: 50px;
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 11px;

    &.button-start {
        background: linear-gradient(90deg, #24EE8A 0%, #20D179 100%);

    }

    &.button-stop {
        background: linear-gradient(90deg, #FF8592 0%, #FF4B5E 100%);

    }
}


@media (max-width: 768px) {
    .section-content {
        margin-top: 20px;

    }

    .speed-boxes {
        height: fit-content;
    }

    .speed-box {
        padding: 40px;

        &::after {
            content: '';
            display: inline-block;
            width: 64px;
            height: 1px;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            background-color: rgba(231, 231, 231, 0.26);
        }
    }

    .test-speed-button {
        width: 100%
    }
}